$schema: http://json-schema.org/draft-07/schema#
$id: https://github.com/albertodonato/query-exporter/schemas/config-schema.json
title: query-exporter config file schema

type: object
additionalProperties: false
required:
  - databases
  - metrics
  - queries
properties:
  databases:
    title: Databases to connect to
    type: object
    additionalProperties: false
    patternProperties:
      .*:
        $ref: "#/definitions/database"
  metrics:
    title: Definition for metrics to expose
    type: object
    additionalProperties: false
    patternProperties:
      ^[a-zA-Z_:][a-zA-Z0-9_:]*$:
        $ref: "#/definitions/metric"
  queries:
    title: Definitions for SQL queries to perform
    type: object
    additionalProperties: false
    patternProperties:
      .*:
        $ref: "#/definitions/query"

definitions:
  label:
    title: String for metrics and label names
    type: string
    pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
  time-interval:
    title: An integer time interval
    description: >
      The interval can be specified as a number, in which case it's interpreted
      as seconds, or as a string.

      Valid suffixes for string format are "s", "m", "h", "d".
    anyOf:
      - type: integer
        minimum: 1
      - type: string
        pattern: ^[0-9]+[smhd]?$
      - type: "null"

  database:
    title: A database to run queries on
    type: object
    additionalProperties: false
    required:
      - dsn
    properties:
      dsn:
        title: Database connection details
        description: >
          Can be specified either a connection string, in the format

            dialect[+driver]://[user:password][@host:port]/database[?option=value&...]

          or as key/value pairs.

          Note that if the string format is used, username and passwords need to be URL-quoted.
        oneOf:
          - type: string
          - type: object
            additionalProperties: false
            required:
              - dialect
            properties:
              dialect:
                title: The database dialect
                description: >
                  It can can including the driver to use (as "dialect+driver").
                type: string
              user:
                title: The user for the connection
                description: >
                  Differently from the DSN string form, this doesn't need to be URL-quoted.
                type: string
              password:
                title: The password for the connection
                description: >
                  Differently from the DSN string form, this doesn't need to be URL-quoted.
                type: string
              host:
                title: The database hostname or IP address
                description: >
                  IPv6 addresses must be enclosed in square brackets.
                type: string
              port:
                title: The database port
                description: >
                  If not specified, the database engine default is used.
                type: integer
                minimum: 1
                maximum: 65535
              database:
                title: The database name
                description: >
                  Name of the database to connect to.
                type: string
              options:
                title: Engine-specific connection options
                description: >
                  Options to pass to the database engine, as key/value.
                type: object
      autocommit:
        title: Whether to enable autocommit for queries
        description: >
          When set to false, don't autocommit after each query.
        type: boolean
        default: true
      keep-connected:
        title: Whether to keep the connection open for the database between queries
        description: >
          When set to false, it will disconnect from the database after each run.
        type: boolean
        default: true
      connect-sql:
        title: Queries to run at database connection
        description: >
          An optional list of SQL queries to run on database connection.
        type: array
        items:
          type: string
        minItems: 1
      labels:
        title: Additional static labels
        description: >
          Label names and values to apply to metrics when run on the database.

          All databases need to declare the same set of label names.
        type: object
        additionalProperties: false
        patternProperties:
          ^[a-zA-Z_:][a-zA-Z0-9_:]*$:
            type: string

  metric:
    title: A Prometheus metric to export
    type: object
    additionalProperties: false
    required:
      - type
    properties:
      type:
        title: The metric type
        type: string
        enum:
          - counter
          - enum
          - gauge
          - histogram
          - summary
      description:
        title: A text description of the metric use
        type: string
      labels:
        title: Labels associated to the metric
        type: array
        items:
          $ref: "#/definitions/label"
        minItems: 1
        uniqueItems: true
      buckets:
        label: For histogram metrics, values for buckets
        type: array
        items:
          type: number
        minItems: 1
        uniqueItems: true
      states:
        label: For enum metrics, possible states
        items:
          type: string
        minItems: 1
        uniqueItems: true
      expiration:
        title: Interval from last update after which a metric series is cleared
        description: >
          If specified and different than null, when no updates on a series
          (set of label values) for the metric happen in the specified amount
          of time, the series is cleared.

          The expiration is tracked independently for each labels value
          combination.
        $ref: "#/definitions/time-interval"

  query:
    title: Definition for a SQL query to run
    description: >
      A SQL query can be run on multiple databases, and update one or more metrics.
    type: object
    additionalProperties: false
    required:
      - databases
      - metrics
      - sql
    properties:
      databases:
        title: Name of databases to run the query on
        type: array
        items:
          type: string
        minItems: 1
        uniqueItems: true
      interval:
        title: The time interval at which queries are run
        description: >
          If not specified or specified as null, the query will be run on HTTP
          requests.

          Alternatively, the "schedule" property can be specified to run the
          query at specific times.
        $ref: "#/definitions/time-interval"
      metrics:
        title: List of metrics that the query updates
        type: array
        items:
          type: string
        minItems: 1
        uniqueItems: true
      parameters:
        title: Parameter sets for the query (either a list or a dictionary)
        description: >
          Specify values for parameters defined in the query.

          Parameters are specified in the form ":param".

          The value of this config can be

          - a list of dictionaries mapping parameter names to values.
            The query is run once for each entry in the list.

          - a dictionary mapping names to a list of dictionaries mapping sub-names and values.
            In this case, the parameter name format is ":key__subkey".

            The query is executed once for every combination of entries from the top level keys.
        oneOf:
          - type: array
            items:
              type: object
            minItems: 1
            uniqueItems: true
          - type: object
            minItems: 1
            uniqueItems: true
            patternProperties:
              .*:
                type: array
                items:
                  type: object
                minItems: 1
                uniqueItems: true
      schedule:
        title: Time schedule for executing the query
        description: >
          A cron-like expression for describing the schedule to run the query.

          Alternatively, the "interval" property can be specified to run the
          query at constant time intervals.
        type: string
      sql:
        title: The SQL code for the query
        type: string
      timeout:
        title: Query timeout, in seconds
        description: >
          If specified, a timeout in seconds after which the query is canceled.
        type: number
        exclusiveMinimum: 0
        multipleOf: 0.1
