name: Docker image

on:
  push:
    branches:
      - main
      - next
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    if: github.actor == github.repository_owner
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        variant:
          - base
          - full
    env:
      TAG_SUFFIX: ${{ matrix.variant != 'full' && format('-{0}', matrix.variant) || '' }}
      MAIN_PUSH: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    steps:
      - name: Repository checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log in to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch,suffix=${{ env.TAG_SUFFIX }},enable=${{ !env.MAIN_PUSH }}
            type=ref,event=pr,prefix=pr-,suffix=${{ env.TAG_SUFFIX }}
            type=ref,event=tag,suffix=${{ env.TAG_SUFFIX }}
            type=sha,prefix=sha-,suffix=${{ env.TAG_SUFFIX }}
            type=raw,value=latest,suffix=${{ env.TAG_SUFFIX }},enable=${{ env.MAIN_PUSH }}
          flavor: |
            latest=false

      - name: Build and push
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: true
          sbom: true

      - name: Export digest
        run: |
          mkdir -p digests
          echo '${{ steps.build.outputs.metadata }}' | jq -r '."containerimage.digest"' | tee digest.txt

      - name: Upload digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: digests-${{ matrix.variant }}
          path: digest.txt
          if-no-files-found: error
          retention-days: 1
