name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Build packages
    uses: ./.github/workflows/run-tox.yaml
    with:
      python-version: "3.13"
      tox-env: build-packages
      artifact-name: packages
      artifact-path: dist/

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Download built packages
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: packages
          path: dist/

      - name: Publish packges to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
